{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<div class="container my-3">
    <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">AmitCoders</h1>
      <hr>
      <p>AmitCoders is a coding blog and it is a great coding blog written by Ravi and Amit Both are brothers both are software engineers He is widely regarded as one of the greatest batsmen in the history of cricket.[5] He is the highest run scorer of all time in International cricket. Considered as the world's most prolific batsman of all time,[6] he is the only player to have scored one hundred international centuries, the first batsman to score a double century in a One Day International (ODI), the h </p>
      {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> {% endcomment %}
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Ravi</h2>
        <p> Raiv is person who uses written words in different styles and techniques to communicate ideas. Writers produce different forms of literary art and creative writing such as novels, short stories, books, poetry, plays, screenplays, teleplays, songs, and essays as well as other reports and news articles that may be of interest to the public. Writers' texts are published across a range of media. Skilled writers who are able to use language to express ideas well, often contribute significantly to the cultural content of a society.[1]

The term "writer" is also used elsewhere in the arts and music – such as songwriter or a screenwriter – but as a standalone "writer" normally refers to the creation of written language. Some writers work from an oral tradition.. </p>
      </div>
      <div class="col-md-6">
        <h2>Amit</h2>
        <p>Amit is founder of AmitCoders and is person who uses written words in different styles and techniques to communicate ideas. Writers produce different forms of literary art and creative writing such as novels, short stories, books, poetry, plays, screenplays, teleplays, songs, and essays as well as other reports and news articles that may be of interest to the public. Writers' texts are published across a range of media. Skilled writers who are able to use language to express ideas well, often contribute significantly to the cultural content of a society.[1]

The term "writer" is also used elsewhere in the arts and music – such as songwriter or a screenwriter – but as a standalone "writer" normally refers to the creation of written language. Some writers work from an oral tradition.. </p>
      </div>
      
    </div>

    <hr>

  </div> <!-- /container -->

</main>
</div>
{% endblock body %}