<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Peddana&family=Roboto+Slab&display=swap"
    rel="stylesheet">
  {% comment %}
  <link href="/static/style.css/" rel="stylesheet"> {% endcomment %}
  <title>{% block title %} {% endblock title %}</title>
  <style>
    body {
      font-family: 'Miriam Libre', sans-serif;
      font-family: 'Peddana', serif;
      font-family: 'Roboto Slab', serif;
      background-color: #0a070226;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/"><b>AmitCoder</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
          <a class="nav-link" href="/about"><b>About</b></a>
        </li>
        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="/contact"><b>Contact</b></a>
        </li>
        <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
          <a class="nav-link" href="/blog"><b>blog</b></a>
        </li>


      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endif %}
      {% if not user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>Home</b>
      </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>About</b>
      </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>Contact</b>
      </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>blog</b>
      </button>
        </li>


      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="search">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal"><b>Search</b></button>
      </form>
      {% endif %}
      
      {% if user.is_superuser %}
      <div class="ml-2">
        <a href="/admin" target="_blank" role="button" class="btn btn-success my-2 my-sm-0">Admin</a>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>Hello! {{request.user}}</b>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/logout/">Logout</a>
        </div>

      </div>
      {% else %}
      <!-- SignUP trigger modal -->
      <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#SignUpModal">
        SignUP
      </button>
      <!-- Login trigger modal -->
      <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        Login
      </button>


      {% endif %}
    </div>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong> {{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}



  <!-- SignUp Modal -->
  <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignUpModalLabel">SignUP Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/signup/">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username(Lowercase and alphanumeric)</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="username" name="lname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose a strong password"
                required>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Enter your password again" required>
            </div>

            <button type="submit" class="btn btn-primary">SignUp</button>
          </form>
        </div>
        {% comment %} <div class="modal-footer">
          {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">SignUp</button>
        </div> {% endcomment %}
      </div>
    </div>
  </div>



  <!-- Login Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login/' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="loginusername">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Username"
                required>
            </div>

            <div class="form-group">
              <label for="pass">Enter Your Password</label>
              <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Your Password"
                required>
            </div>


            <button type="submit" class="btn btn-primary">Login</button>
            {% comment %} <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#SignUpModal">
        Register
      </button> {% endcomment %}
          </form>
        </div>
        {% comment %} <div class="modal-footer">
          {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">SignUp</button>
        </div> {% endcomment %}
      </div>
    </div>
  </div>

  {% block body %} {% endblock body %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>